body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2 {
  text-align: right;
  vertical-align: middle;
}
h1 {
  font-size: 6em;
  color: #061e78;
}
h2 {
  font-size: 4em;
  color: white;
}
.center {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}
.center.small {
  width: 50%;
}
.parent {
  background-color: #fca233;
}
html {
  background-color: #fca233;
}
body {
  font-family: "Futura";
  margin: 0px;
}

div.home-content {
  margin: 1%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
div.home-content-text {
  padding-right: 30px;
}
